@page
@model Application_Security_Assignment.Pages.Errors._401Model
@{
	ViewData["title"] = "Unauthorized";
}
<div class="container style="text-align: center; color: #888">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">401</h1>
    <p style="font-size: 50px; ">Unauthorized access</p>
    <p>Request doesn't contain authentication or authorization is refused because of
    bad credentials</p>
    <p>Please navigate back to <a href="https://localhost:7064/Login">Login Here</a></p>
</div>
