@page
@model Application_Security_Assignment.Pages.Errors._500Model
@{
ViewData["title"] = "Internal Server Error";
}
<div class="container style="text-align: center; color: #888">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">500</h1>
    <p style="font-size: 50px; ">Internal Server Error</p>
    <p>Something went wrong in our server. We are working to fix the issue.</p>
    <p>Please navigate back to <a href="https://localhost:7064/Login">Login Here</a></p>
</div>